body {
}
form {
    width: 310px;
    margin:10% auto; 
}
#main {
    padding: 10px 30px 50px 30px;
    background:rgb(255, 242, 98);
}
input {
    float: right;
}
#lblFirst, #lblLast, #lblEmail, #lblPhone, #lblAddress, #lblHobbies {
    float: left;
    padding: 3px 0px;
    width: 25%;
    width: 37%;
}
table {
    margin-top: 80px;
    margin-left: 30px;
}
h2 {
    text-align: center;
    border: 1px solid black;
}
#btnSubmit {
    padding: 7px;
}
#lblHobbies {
    margin-top: 30px;
}

