/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */



/* --------------- GENERAL PROPERTIES --------------- */
body {
  padding-bottom: 40px;
  color: #5A5A5A;
}
a:hover, a:active, a:focus {
   outline:             0 !important;
}
.posCenter{
	text-align:         center;
}
#wrapper {
    width:              100%;
}

.displayResult {
    color:              #6DB5F2;
    font-size:          20px;
    font-weight:        bold;
}




/* --------------- MAIN NAVIGATION --------------- */
#nav_bg {
    height:             83px; 
    width:              100%;
    position:           fixed; 
    top:                0px; 
    z-index:            100; 
    background:         transparent -moz-linear-gradient(270deg, rgb(255, 255, 255) 92%, rgba(83, 141, 185, 0) 100%); 
}
.navbar-wrapper {
    position:           fixed;
    right:              0%;
    left:               0%;
    z-index:            10;
}
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
ul.dropdown-menu>li>ul>li>ul {
    display:            none; 
}   
ul.dropdown-menu>li:hover>ul {
    display:            block;
}
.submenu {
    left:               171px;
    top:                -7px;
}
#login {
     top:               50px;
     left:              -96px;
     padding:           5px 13px;
     background:        white;
     color:             darkgray;
}

/* --------------- CONTENT-TABBED PANEL --------------- */
.tabs ul li a{
    background-color:   rgb(92, 168, 92);
    padding:            7px 15px !important;
    margin-top:         4px;
    border-top-left-radius: 4px; /* rounding corners of tab head */
    border-top-right-radius: 4px; /* rounding corners of tab head */
    color:              white;
    margin-right:       1px;
}
ul li a.static.selected{
     background-color:  #8CF26D;
     padding:           9px 15px !important;
     margin-top:        0px;
     color:             #5A5A5A;
}
ul li a.highlighted{
     background-color:  #8CF26D;
     padding:           9px 15px !important;
     margin-top:        0px;
}
#tabbedMenu {
    margin-top:         50px;
    width:              100%;
    min-width:          206px;
    float:              left;
    text-align:         center;
}
#multiTabs{
    float:              left;
    min-height:         500px; 
    background-color:   #8CF26D;
    padding:            4%;
    border-radius:      0px 4px 0px 0px;
    width:              100%;
}

/* --------------- CONTENT- NESTED TABBED PANEL --------------- */

#mainContent_placeholderTabOne_nestedTabbedMenu {
    float:              none !important;
}
#mainContent_placeholderTabOne_nestedTabbedMenu ul {
    width:              100% !important;
}
#mainContent_placeholderTabOne_nestedTabbedMenu ul li a {
     background-color:  white;
     padding:           10px 11px !important;
     color:             #5A5A5A;
     border-bottom:            1px solid #8CF26D;
}
#mainContent_placeholderTabOne_nestedTabbedMenu ul li:first-child a {
     border-top-left-radius: 4px;
}
#mainContent_placeholderTabOne_nestedTabbedMenu ul li:last-child a {
     border-bottom-left-radius: 4px;
}
#mainContent_placeholderTabOne_nestedTabbedMenu ul li a.static.selected {
     background-color:  #5CA85C;
     padding:           10px 11px !important;
     color:             white;
}
#nestedMultiTabs {
    float:              left;
    padding:            10px 30px;
    background:         #5CA85C;
    color:              white;    
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
#mainContent_placeholderTabOne_btnCourseContentComplete, #mainContent_placeholderTabThree_btnMockExam1, #mainContent_placeholderTabTwo_btnTutorialsComplete {
    float:              right;
    margin-top:         26px;
    background:         #5CA85B;
    padding:            5px;
    border-radius:      4px;
    color:              white;
}

/* --------------- FOOTER --------------- */

footer {
    background-color:   rgb(16,16,16);
    text-align:         center;
    clear:              both;
}

footer ul {
        margin-top:         20px;
}

footer li{
	list-style-type:    none;
	display:            inline;
	padding-right:      5px;

}

/* --------------- CONTACT FORM --------------- */
#contactsContainer {
    background:         #F2F3E7;
    padding-top:        100px;
}
#contactsContainer .row .col-sm-6{
    margin-bottom: 40px !important;
}
#contactForm {
    padding-left:       5%;
    margin-bottom:      50px;
}
#contactForm h3 {
    color:              #6DB5F2;
}
#mainContent_UpdatePanel1 {
    border:             1px solid #808080;
    padding-left:       27%;
    padding-top:        35px;
    margin-right:       3%;
}
#locationmap {
    height:             500px; 
    width:              92%;
    margin-bottom:      40px;
    border: 1px solid #808080;
}
#mainContent_btnSubmit {
    float:              right;
    margin-right:       50%;
}
#mainContent_btnClear {
    float:              right;
    margin-right:       2%;
}
#mainContent_lblDisplayMessage {
    position:           relative;
    top:                -39px;
    color:              rgb(22, 150, 210);
    left:               7px;
    float:              left;
}

/* Small devices, 768px and up */
@media (min-width: 768px) {
.container {
    padding-right:      15px;
    padding-left:       15px;
  }
.navbar-wrapper {
    margin-top:         20px;  /* Detaching navbar from the top */
}
.navbar {
    padding-right:      0px;
    padding-left:       0px;
    border-radius:      4px;    /* rounding corners of the navbar */
}
footer {
    border-radius:      0px 0px 4px 4px;
    padding:            5px 0px;
}
}
/* Medium devices, 992px and up */
@media (min-width: 992px) {

#wrapper {
    width:              92%;   
}
.navbar-wrapper {
    right:              5%;
    left:               5%;
}
#tabbedMenu {
    width:              26%;
    max-width:          240px;
    text-align:         left;
}
#nestedMultiTabs {
    width:              71%;
    margin-top:         50px;
}
#mainContent_UpdatePanel1 {
    margin-right:       0%;
}
#contactsContainer .row .col-sm-6{
    margin-bottom: 0px !important;
}
#mainContent_UpdatePanel1 {
    padding-left:       13%;
}
#mainContent_btnSubmit {
    margin-right:       7%;
}
#locationmap {
    margin-right:       4%;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

#wrapper {
    width:              86%;  
}
.navbar-wrapper {
    right:              9%;
    left:               9%;
}
#progressBarPlaceholder {
    height: 300px;
}
#mainContent_UpdatePanel1 {
    padding-left:       15%;
}
}