/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

a:hover, a:active, a:focus {
   outline:             0;
}
.posCenter{
	text-align:         center;
}
.tabs ul li a{
    background-color:    #D4D4D4;
    padding:            7px 15px !important;
    margin-top:         4px;
    border-top-left-radius: 4px; /* rounding corners of tab head */
    border-top-right-radius: 4px; /* rounding corners of tab head */
    color:              #5A5A5A;
    margin-right:       1px;
}

 ul li a.static.selected{
     background-color:  #9D9D9D;
     padding:           9px 15px !important;
     margin-top:        0px;
     color:             white;
    }
 ul li a.highlighted{
     background-color:  #CFCFCF;
     padding:           9px 15px !important;
     margin-top:        0px;
    }

 #multiTabs{
    min-height:         500px; 
    background-color:   #9D9D9D;
    padding:            4%;
}

/*--------------------------------------------------------------------------------------------*/
/* different style tabs  - comment whole block below to see tabs monochromatic */
.tabs ul li a{
    background-color:    rgb(92, 168, 92);
    padding:            7px 15px !important;
    margin-top:         6px;
    border-top-left-radius: 4px; /* rounding corners of tab head */
    border-top-right-radius: 4px; /* rounding corners of tab head */
    color:              white;
    margin-right:       1px;
}

 ul li a.static.selected{
     background-color:  white;
     padding:           9px 15px !important;
     margin-top:        0px;
     color:             rgb(63, 156, 21);
     border:            solid thin #8CF26D;
     border-bottom:     solid white 1px;
     position:          relative;
     top:               1px;
    }
 ul li a.highlighted{
     background-color:  #A1F6A1;
     padding:           9px 15px !important;
     margin-top:        2px;
    }

 #multiTabs{
    min-height:         500px; 
    background-color:   white;
    padding:            4%;
    border:             solid thin #8CF26D;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

 /* end for - different style tabs */
 /*-----------------------------------------------------------------------------------*/

#wrapper {
    width:              100%;
}

.navbar-wrapper {
    position:           fixed;
    right:              0%;
    left:               0%;
    z-index:            10;
}


ul.dropdown-menu>li>ul>li>ul {
    display:            none;    
}
    
ul.dropdown-menu>li:hover>ul {
    display:            block;
}
.submenu {
    left:               171px;
    top:                -7px;
} 

/* Small devices, 768px and up */
@media (min-width: 768px) {

.navbar-wrapper {
    margin-top:         20px;  /* Detaching navbar from the top */
}
.navbar {
    border-radius:      4px;  /* rounding corners of the navbar */
  }
        
}

/* Medium devices, 992px and up */
@media (min-width: 992px) {

#wrapper {
    width:              92%;   
}
.navbar-wrapper {
    right:              5%;
    left:               5%;
}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

#wrapper {
    width:              86%;  
}
.navbar-wrapper {
    right:              9%;
    left:               9%;
}

}